.shadow {
  box-shadow: -1px 3px 15px -1px rgba(0, 0, 0, 0.36);
}

.btn {
  border-radius: 0;
}

.btn.disabled {
  background: #e5e5e5;
}

.card {
  border: 0;
  background: transparent;
}

.card-header {
  background: transparent;
  font-size: 18px;
  border: none;
  font-weight: 500;
}

.card-body {
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 12px;
}

.card-img-wrap {
  padding-top: 50px;
}

.card-img-top {
  border-radius: 50%;
}

ul {
  padding-left: 20px;
}

.size-13 {
  font-size: 13px;
}

.size-16 {
  font-size: 16px;
}

.size-18 {
  font-size: 18px;
}

.size-24 {
  font-size: 24px;
}

.text-light {
  color: #666 !important;
}