body {
  margin: 0;
  font-family: 'Roboto', 'Helvetica Neue', sans-serif,
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body {
  min-height: 100vh;
}

img {
  max-width: 100%;
}
